@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box ;
}
body{
    background-image: url(../images/pic7.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.movie-container{
    margin: 30px 0;
}
.movie-container select{
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.movie-container label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-shadow:3px 3px 5px red;
    color: black;
}
.seat{
    background-color: #77acf1;
    height: 30px;
    width: 30px;
    margin: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.seat.selected{
    background-color:blue;
}
.seat.occupied{
    background-color: white;
}
.seat:nth-of-type(2){
    margin-right: 20px;
}
.seat:nth-last-of-type(2){
    margin-left: 20px;
}
.seat:not(.occupied):hover{
    cursor:pointer;
    transform: scale(1.25);
}
.showcase .seat:not(.occupied):hover{
    cursor: default;
    transform: scale(1);
}
.showcase{
    background-color: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #77acf1;
    list-style-type:none;
    display: flex;
    justify-content: space-between;
}
.showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.showcase li small{
    margin-left: 3px;
    color: black;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 3px 3px 3px white;
}
.row{
    display: flex;
}
.screen{
    background-color: white;
    height: 60px;
    width: 100%;
    margin: 18px 0;
    transform: rotateX(-30deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);

}
.container{
    perspective: 1000px;
    margin-bottom: 50px;    
}
p.text{
    margin: 5px 0;
    color: white;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
p.text span{
    color: black;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color:navy;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    font-size: 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 5px;
    text-decoration: none;
    display: block;

  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color:blue
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  