*{
    box-sizing: border-box;
}
body{
    background-image: url(../images/pic2.jpg);
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: aquamarine;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
h1{
    text-align: center;
    margin: 0 0 20px;
}
form{
    padding: 15px 15px;
}