*{
    box-sizing: border-box;
}
body{
    background-image: url('../images/pic11.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100hv;
    margin: 0;
    padding: 15px;
}
h1{
    background-color: cadetblue;
    color: white;
    box-shadow:  5px 5px 5px red;
}
p{
    text-align: center;
    color: white;
}
.btn{
    color: blue;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
    padding: 5px 10px;
}
.currency{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.currency select{
    padding: 10px 20px 10px 10px;
    border:1px solid gray;
    font-size: 30px;
    background: transparent;
    color: white;
}
.currency input{
    border: 0;
    background: transparent;
    font-size: 25px;
    text-align: right;
    color: white;
}
.swap-rate-container{
    display: flex;
    align-items: center;
    justify-content: space-between;color: white;
}
.rate{
    color: teal;
    font-size: 16px;
    padding: 0 10px;
    color: white;
    padding:5px;
}
select:focus, input:focus, button:focus{
    outline: 0;
}

a{
    color: white;
}